body {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 80vh;
    background-color: rgb(159, 216, 216);
    color: black;
    font-family: "spacemono";
  }
  
  #levels {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    font-size: 1.1em;
    font-weight: 500;
    gap: 10px;
  }
  
  #levels > label {
    font-weight: 900;
  }
  
  #restart {
    display: none;
  }
  
  #levelP {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 5px;
    margin: 30px 0px;
  }
  
  #levelP > p {
    margin: 0px;
    font-size: 1.3em;
    color: rgb(168, 5, 5);
    font-weight: 800;
  }
  
  #inputField {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    margin-top: 20px;
    gap: 10px;
  }
  
  #flex {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.6em;
    font-weight: 600;
    text-transform: capitalize;
  }
  
  button {
    padding: 12px 35px;
    background-color: rgb(123, 162, 162);
    box-sizing: border-box;
    font-size: 1em;
    font-weight: 700;
    font-family: "spacemono";
    cursor: pointer;
    border-radius: 15%;
  }
  
  #input {
    padding: 10px 15px;
    font-family: "spacemono";
  }
  #input:focus {
    border: 1px solid rgb(184, 190, 190);
    outline: 1px solid rgb(184, 190, 190);
  }
  
  #results{
    margin-top: 20px;
    font-weight: 700;
    font-size: 1em;
  }
